# Compilação Java
*.class

# IDEs
.idea/
*.iml

# Arquivo de persistência
banco_estado.dat

# Diretórios de saída
/out/
/build/

# Arquivos temporários
*.log
*.tmp

# Executáveis
*.sh

# Sistema operacional
.DS_Store
Thumbs.db
